
body{
  background-color: hsl(0, 100%, 74%) ;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 100 auto;
  padding: 20px;
  color:whitesmoke;
  background-image: url("/src/images/bg-intro-desktop.png");  
}


main{
  display: grid;
  width: 85%;
  height: 200px;
  margin: 100px auto;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 4fr;
  grid-template-areas: 
    "description form-container"
    "description form-container";
  

}

.description{
  grid-area: description;
}

.form-container{
  border-radius: 10px;
  padding: 15px;
  color: hsl(black);
  grid-area: form-container ;
}

.blue-trial{
  border-radius: 2px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: hsl(248, 32%, 49%);
  color: whitesmoke;
}

.register-form{
  display: grid;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
}

input{
  border-color: hsl(246, 25%, 77%);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}
.green-trial{
  border-radius: 5px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: hsl(154, 59%, 51%);
  color: whitesmoke;
}
.subscript{
  font-size: small;
  color:hsl(246, 25%, 77%);
}
.terms{
  color: hsl(0, 100%, 74%);
}
@media (orientation: portrait) and (max-width: 600px){

  body{
      background-image: url(/src/images/bg-intro-mobile.png);
      font-size: smaller;
  }

  main{
      margin-top: auto;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr 4fr;
      grid-template-areas: 
      "description"
      "blue-trial"
      "form-container";   
  }

}